#colunas {
    display: flex;
    background-color: #262626;
}

#direita {
    width: 15%;
    height: 100vh;
}

#conteudo {
    height: 100vh;
    width: -webkit-fill-available;
    background-color: #737373;
}

#esquerda {
    width: 15%;
    height: 100vh;
}

#colunas {
    text-align: center;
}